<div data-container>test</div>

<script>
    const container= document.querySelector("[data-container]")

    container?.addEventListener("click", () => {
        console.log("Clicked container")
    })
</script>
