---
import { getCollection } from "astro:content";
import Layout from "../../layouts/tool.astro";

const posts = await getCollection("tool");
---

<Layout title="Tool">
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/tool/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
