---
import Header from "./header.astro"
import Footer from "./footer.astro";
import Aside from "./aside.astro"
import { FaArtstation } from "react-icons/fa"

import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>

	<body>
		<Header /> 
		<main> <slot /> </main>
		<Aside />
		<Footer />

		<div class="mode-toggler" data-mode-toggler>
			<FaArtstation />
		</div>
	</body>
</html>

<script>
import { $inImmersionMode } from "../store"
const toggler = document.querySelector('[data-mode-toggler]')
const container = document.body

toggler?.addEventListener("click", () => {
	$inImmersionMode.set(!$inImmersionMode.get())
})

$inImmersionMode.subscribe(state => {
	localStorage.setItem("immersionModep", state ? "t" : "nil");
	if(state) {
		container?.classList.add("immersion-mode")
	}else{
		container?.classList.remove("immersion-mode")
	}
})
</script>

<style lang="stylus" is:global>
body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0px, 1fr) 10fr auto minmax(0px, 1fr);
	min-height: 100vh;
	min-width: 100vw;
}

header, footer {
	grid-column:1 / span 4;
}
main {
	grid-column: 2 /span 1;
}

.immersion-mode {
	header, footer, aside {
		display: none;
	}
}

.mode-toggler {
	position: absolute;
	left: 6px;
	top: 6px;

	&:hover {
		transform: scale(1.2, 1.2);
	}
}
</style>

<style is:global>
:root {
	--accent: 124, 58, 237;
	--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}
html {
	font-family: system-ui, sans-serif;
	background-color: #F6F6F6;
}
code {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

/* Hide ScrollBar */
/* Chrome Safari & Opera */
body::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none; /* IE & Edge*/
	scrollbar-width: none; /* Firefox */
}
</style>
