---
import HeaderLink from "../components/HeaderLink.astro";
---

<header class="w-full flex flex-row text-center h-10 border-b-2 border-black">
    <div>Labry</div>

    <nav class="flex-grow flex flex-row justify-around">
        <HeaderLink href="/">HOME</HeaderLink>
        <HeaderLink href="/arena">ARENA</HeaderLink>
        <HeaderLink href="/tools">TOOL</HeaderLink>
    </nav>

    <div class="flex-grow flex-shrink"></div>

    <HeaderLink href="/user">USER</HeaderLink>
</header>
