{
  "extends": [
    "@ferld"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "ignorePatterns": [
    "*.stories.*",
    "vite-env.d.ts"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
