;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/main"
                "src/test"]

 :dependencies [[reagent "1.2.0"]]

 :dev-http {7991 "public"}

 :closure-defines {api.supabase/SUPABASE_URL #shadow/env "PUBLIC_SUPABASE_URL"
                   api.supabase/SUPABASE_ANON_KEY #shadow/env "PUBLIC_SUPABASE_ANON_KEY"}

 :dev {:closure-defines {crx.sw/REDIRECT_URL "http://localhost:7991"}}
 :release {:closure-defines {crx.sw/REDIRECT_URL "https://wedex.vercel.app"}}

 :js-options {:js-package-dirs ["node_modules", "../../node_modules"]}

 :builds {:app {:target :esm
                :output-dir "public/cljs"
                :runtime :custom

                :modules {:shared {:entries []}
                          :core {:init-fn core/init :depends-on #{:shared}}
                          :cs {:init-fn crx.cs/init :depends-on #{:shared}}
                          :sp {:init-fn crx.sp/init :depends-on #{:shared}}
                          :sw {:init-fn crx.sw/init :depends-on #{:shared}}}}}}
