;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.2.0"]]

 :dev-http {8000 "public"}

 :builds
 {:crx {:target :esm
        :output-dir "public/js"
        :modules
        {:shared {:entries []}
         :sw {:init-fn crx.sw/init 
              :depends-on #{:shared}} 
         :core {:init-fn core/init
                 :depends-on #{:shared}}
         :popup {:init-fn  crx.popup/init
                 :depends-on #{:shared}}}}}}
